{{ define "content" }}

{{ .Content }}

<!-- <h2>Books With Notes</h2> -->

{{ range .Pages }}
<details>
    <summary>{{ .Title }} by {{ .Params.author }}</summary>
    {{ with .Description }}
        <p>{{ . }}</p>
    {{ else }}
        <p>{{ .Summary }} {{ if .Truncated }}...{{ end }}</p>
    {{ end }}
    {{ if .RelPermalink }}
        <a href="{{ .RelPermalink }}"><button>My Notes</button></a>
    {{ end }}
    <a href="{{ .Params.website }}" target="_blank" rel="noopener"><button>More Info</button></a>
    </details>
{{ end }}

<!-- <h2>Books Without Notes</h2> -->
{{ range $.Site.Data.books }}
    <details>
        <summary id="{{ .id }}">{{ .name }} by {{ .author }}</summary>
        <p>{{ .description | markdownify }}</p>
        <a href="{{ .website }}" target="_blank" rel="noopener">
            <button>More info</button>
        </a>
    </details>
    {{ end }}
{{ end }}