{{ define "header" }}

	<h1>{{ .Title }} by {{ .Params.author }}</h1>

	{{ block "nav" . }}{{ partial "nav.html" . }}{{ end }}

{{ end }}

{{ define "content" }}

	{{ if .Params.cawpile }}
	  {{ partial "books/cawpile.html" . }}
	{{ end }}

	{{ .Content }}

{{ end }}

{{ define "footer" }}

  <section>
    <p><a href="mailto:{{ .Site.Params.author.email }}?subject={{ .Title }}">Reply to this post via email.</a></p>
    <a href="https://notbyai.fyi"><img src="{{ "/assets/Written-By-Human-Not-By-AI-Badge-white.svg" | relURL }}" alt="Written by Human, Not by AI"></a>
		<p>Last Modified: {{ .Lastmod.Format "2006-01-02" }}</p>
    <hr>
  	{{ partial "section-navs.html" . }}
  </section>

  <footer>
    {{ partial "footer.html" . }}
  </footer>

{{ end }}
